@{
    ViewBag.Title = "UserForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section stylesheets{

    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">

    <style>
        .input_number {
            border: 0;
            color: #f6931f;
            font-weight: bold;
            width: 2em;
        }
    </style>

}

<h3>How many appliances are in your home?</h3>


<form id="userForm" class="container">
    <div class="form-group row">
        <div class="col-xs-6">
            <div style="position:relative; padding-top: 100px">
                <label for="heaters">Number of Heaters:</label>
                <input type="number" id="heaters" name="heaters" class="input_number" />
                <div id="heaterSlider"></div>
            </div>
        </div>
        <div class="col-xs-6">
            <p>Heater Energy Signature</p>
            <img class="img-responsive" src="/img/HeaterWatt.png" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-6">
            <div style="position:relative; padding-top: 100px">
                <label for="washers">Number of Washers:</label>
                <input type="number" name="washers" id="washers" class="input_number" />
                <div id="washerSlider"></div>
            </div>
        </div>
        <div class="col-xs-6">
            <p>Washer Energy Signature</p>
            <img class="img-responsive" src="/img/WasherWatt.png" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-6">
            <div style="position:relative; padding-top: 100px">
                <label for="dryers">Number of Dryers:</label>
                <input type="number" name="dryers" id="dryers" class="input_number" />
                <div id="dryerSlider"></div>
            </div>
        </div>
        <div class="col-xs-6">
            <p>Dryer Energy Signature</p>
            <img class="img-responsive" src="/img/DryerWatt.png" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-6">
            <div style="position:relative; padding-top: 100px">
                <label for="ovens">Number of Ovens:</label>
                <input type="number" name="ovens" id="ovens" class="input_number" />
                <div id="ovenSlider"></div>
            </div>
        </div>
        <div class="col-xs-6">
            <p>Oven Energy Signature</p>
            <img class="img-responsive" src="/img/OvenWatt.png" />
        </div>
    </div>
    <input type="submit" class="btn btn-default" id="submitButton" value="Submit" />
</form>

<!--Div that will hold the pie chart-->
<div id="chart_div"></div>


@section scripts{
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript">

        EnergyHack.Page.SliderSetUp = function () {
            $("#heaterSlider").slider({
                min: 0,
                max: 3,
                step: 1,
                slide: function (event, ui) {
                    $("#heaters").val(ui.value);
                }
            });
            $("#heaters").val($("#heaterSlider").slider("value"));
            $("#washerSlider").slider({
                min: 0,
                max: 3,
                step: 1,
                slide: function (event, ui) {
                    $("#washers").val(ui.value);
                }
            });
            $("#washers").val($("#washerSlider").slider("value"));
            $("#dryerSlider").slider({
                min: 0,
                max: 3,
                step: 1,
                slide: function (event, ui) {
                    $("#dryers").val(ui.value);
                }
            });
            $("#dryers").val($("#dryerSlider").slider("value"));
            $("#ovenSlider").slider({
                min: 0,
                max: 3,
                step: 1,
                slide: function (event, ui) {
                    $("#ovens").val(ui.value);
                }
            });
            $("#ovens").val($("#ovenSlider").slider("value"));

        }

        EnergyHack.Page.ClickSubmit = function () {

            $("#submitButton").bind("click", function (evt) {
                evt.preventDefault();
                EnergyHack.Page.SubmitData();
            });
        }

        EnergyHack.Page.SubmitData = function (frm) {

            window.location = '/Home/EnergyUse';

        }


        EnergyHack.Page.StartUp = function () {

            EnergyHack.Page.SliderSetUp();
            EnergyHack.Page.ClickSubmit();


        }

    </script>
}